html {
    display: block;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar-image {
    width: 5%;
    height: 5%;
    margin-right: 10%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.nav-menu {
    list-style-type: none;

    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    margin-bottom: 5%;
    padding-left: 3%;
}



button#donate {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ccc;
}

img#igraal-logo {
    float: left;
    width: 50px;
    height: 50px;
}

span#span-igraal {
    margin-left: 10px;
}