html {
    display: block;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar-image {
    width: 5%;
    height: 5%;
    margin-right: 10%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.nav-menu {
    list-style-type: none;

    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    margin-bottom: 5%;
    padding-left: 3%;
}



div.btn-grid button {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

div.btn-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10%;
}




button:hover {
    background-color: black;
}



img#igraal-logo {
    float: left;
    width: 50px;
    height: 50px;
}

span#span-igraal {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}


.home-page div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;

}

img.logo{
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}