* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

#main-title {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.filtercards-btn {
    background-color: white; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

.filtercards-btn:hover {
    background-color: green;
    color: white;
}

.filtercards-btn.active {
    background-color: #666;
    color: white;
}

button.link-project {
    background-color: cornflowerblue; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

button.link-project:hover {
    background-color: black;
}